<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      Recipify
    </a>
    {% if user.is_authenticated %}
      <a class="btn btn-sm btn-outline-light ms-3" href="{% url 'recipe_create' %}">Publish recipe</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
      {% include 'partials/menu.html' %}
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'recipe_search' %}">🔍 Search Recipes</a>
        </li>
      </ul>
    {% endif %}
  </div>
</nav>