{% extends 'base_content.html' %}
{% load static %}
{% load recipe_helpers %}

{% block content %}
<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Browse Recipes</h1>
    <a class="btn btn-primary" href="{% url 'recipe_create' %}">Publish recipe</a>
  </div>
  
  <div class="recipe-card">
    <div class="card-body p-0">
      {% include 'partials/profile_tabs/recipe_table.html' with recipes=recipes saved_recipe_ids=saved_recipe_ids %}
    </div>
  </div>
</div>
{% endblock %}